<launch>
  <node name="picam360" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="framerate" value="15" />
    <param name="camera_frame_id" value="picam360" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>
